<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../public/css/style.css">
    <script src="./script.js" defer></script>
</head>
<body>
    <main>
        <div id="carta">
                <h1>Carta </h1>
               
                        
        </div>




        
        <nav>
            <ul class="barra">
                <a href="../index.html">«</a>
                <a href="../index.html">1</a>
                <a href="./views/carta.html">2</a>
                <a href="">3</a>
                <a href="">»</a>
            </ul>
        </nav>
        
    </main>

    <footer>
            
    </footer>
</body>
</html>