<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto</title>
    <link rel="stylesheet"  href="../public/css/style.css">
    <script src="../public/js/script.js" defer></script>
</head>
<body>
    <main>
       
        <nav>
            <ul class="barra">
                <a href="">«</a>
                <a href="">1</a>
                <a href="./views/carta.html">2</a>
                <a href="./views/texto.html">3</a>
                <a href="">»</a>
            </ul>
        </nav>

       
    
    </main>

    <footer>
            
    </footer>
</body>
</html>